body{
    margin: 8px;
    background-image: linear-gradient(to right, #360aee, #2e06cf, #2604b1, #1e0293, #160177);
}

/* svgs */
/* .svg1{
    position:absolute;
    top: 2%;
    left: 70%;
    opacity: .7;
}
.svg2{
    position:absolute;
    top: -5%;
    left: 50%;
    opacity: 1;
} */

.svg4{
    position:absolute;
    top: 74.8%;
    width: 99%;
    /* width: 1000px; */
    /* left: ; */
    opacity: 1;
    /* transform: rotate(-5deg); */
}


.cont-div {
    position: absolute;
    width: 70%;
    height: 60%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    /* display: none; */
}
.field-us{
    background: #c5c5c5;
    border-radius: 0 30px 30px 0;
}